$purple: rgba(156,39,176,.2);
$deep-purple:rgba(191, 159, 206, 1);
$dark-purple: rgba(146, 43, 194, 1);
$yellow: rgba(255,138,0,.2);
$deep-yellow: rgba(247, 148, 31, 1);
$special-black: rgba(38, 38, 38, 1);
$special-white: whitesmoke;

$small-screen: 525px;